.maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff);
}

.secondarydiv{
    display: flex;
}
.selections{
    display: flex;
    flex-direction: row;
}

.select{
    color: #090909;
    padding: 0.4em 0.9em;
    margin:5px;
    font-size: 30px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }

.button {
    display:flex;
    color: #090909;
    padding: 0.6em 0.6em;
    font-size: 20px;
    margin:15px 8px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }

 .btn {
 position: relative;
 font-size: 17px;
 text-transform: uppercase;
 text-decoration: none;
 padding: 1em 2.5em;
 display: inline-block;
 border-radius: 6em;
 transition: all .2s;
 border: none;
 font-family: inherit;
 font-weight: 500;
 color: black;
 background-color: #e8e8e8;
}

.btn:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 transition: all .4s;
}

.btn::after {
 background-color: #fff;
}

.btn:hover::after {
 transform: scaleX(1.4) scaleY(1.6);
 opacity: 0;
}



.error {
    color: #ffffff;
    padding: 0.6em 0.6em;
    font-size: 20px;
    margin:5px;
    border-radius: 0.5em;
    background: #b10000;
    border: 3px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
